body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
#icon {
    width: 25px;
}
h1,h2,h3,h4{
    font-weight: 700;
}
.gap2{
    margin-top: 100px;
}
.gap3{
    margin-top: 150px;
}
#icon2{
    width: 25px;
    color: #3F87F5;
}
#icon3{
    width: 20px;
    color: #5243C2;
}
.icon3{

}
.main{
    background-color: #3F87F5;
    color: white;
}